#content_section{
	
	display:flex;
	width:742px;


}

.cartlist{
	
	display:flex;
	width:742px;
	list-style:none;
	padding-left:0px;
	height:100px;	
	align-items:center;
	justify-content:center; /*가로 정렬*/
	
}

input[type=checkbox]+label {
    display: block;
    width: 24px;
    height: 24px;
	background: url('checkbox.svg') no-repeat 0 1px / contain;
    cursor:pointer;
}

input[type=checkbox]:checked+label {
    background: url('checkbox_checked.svg') no-repeat 0 1px / contain;
}

input[type=checkbox] {
    display: none;
}
#count_div{
	width:100px;
	display:flex;
	margin-left:20px;
	margin-right:20px;
}
#count_div_1{
	
	float:left;
	margin-left:20px;

}

#price{
	margin-left:20px;
	margin-right:20px;
}


