@charset "UTF-8";


.grid_order_1{
	padding-top: 50px;
	width: 1050px;
    padding: 60px 0px;
    margin: 0px auto;
}

.order_title{
	font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.5px;
    padding-bottom: 28px;
    text-align: center;
    padding-top: 10px;
}

.order_page{
	letter-spacing: -0.5px;
}

.box_1{
	display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 60px;
    border-bottom: 1px solid rgb(51, 51, 51);
}

.box_1_text_1{
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.box_2{
	display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    padding: 25px 0px;
    border-bottom: 1px solid rgb(244, 244, 244);
}

.b2t2_1{
	display: inline-flex;
    width: 60px;
    height: 78px;
   
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.b2t2_2{
	overflow: hidden;
    width: 720px;
    padding: 0px 20px;
    flex: 1 1 0%;
}

.b2t2_2_1{
	display: -webkit-box;
    overflow: hidden;
    max-height: 48px;
    font-size: 16px;
    line-height: 24px;
    color: rgb(0, 0, 0);
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}
.b2t2_2_2{
	max-height: 48px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: block;
    overflow: hidden;
    padding-top: 6px;
    font-size: 14px;
    line-height: 20px;
    color: rgb(153, 153, 153);
    white-space: nowrap;
    text-overflow: ellipsis;
}
.b2t2_3{
	width: 100px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
}
.b2t2_4{
	width: 126px;
    text-align: right;
}
.b2t2_4_1{
	display: block;
    font-weight: 700;
    font-size: 16px;
    color: rgb(51, 51, 51);
    line-height: 22px;
    word-break: break-all;
}
.box_3{
	display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 60px;
    border-bottom: 1px solid rgb(51, 51, 51);
}
.b3t1_1{
	padding: 16px 0px;
    font-weight: 500;
    font-size: 20px;
    color: rgb(51, 51, 51);
    line-height: 29px;
}
.box_4{
	padding: 10px 0px;
}
.b4t1{
	padding: 10px 0px;
}
.b4t1_1{
	display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 8px 0px;
}
.b4t1_1_1{
	line-height: 24px;
    display: inline-block;
    width: 160px;
    margin-right: 30px;
    font-weight: 500;
    font-size: 14px;
    color: rgb(51, 51, 51);
    letter-spacing: -0.32px;
    vertical-align: top;
}
.b4t1_1_2{
	flex: 1 1 0%;
}
.b4t1_name{
	display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    line-height: 24px;
}
.b4t1_2_1{
	display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 8px 0px;
}
.b4t1_phone{
	line-height: 24px;
	display: inline-block;
    width: 160px;
    margin-right: 30px;
    font-weight: 500;
    font-size: 14px;
    color: rgb(51, 51, 51);
    letter-spacing: -0.32px;
    vertical-align: top;
}
.b4t1_2_2{
	flex: 1 1 0%;
}
.b4t1_phonenumber{
	display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    line-height: 24px;
}
.b4t1_3_1{
	display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 8px 0px;
}
.b4t1_3_1{
	    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 8px 0px;
}
.b4t1_email{
	line-height: 24px;
	    
	display: inline-block;
    width: 160px;
    margin-right: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 44px;
    color: rgb(51, 51, 51);
    letter-spacing: -0.32px;
    vertical-align: top;
}
.b4t1_emailaddress{
	flex: 1 1 0%;
}
.b4t1_3_2{
	margin-top: 10px;
}
.b4t1_3_3{
	font-size: 12px;
    line-height: 21px;
    color: rgb(102, 102, 102);
}
.box_5{
	box-sizing: border-box;
    margin: 0;
}
.box_5_1{
	display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 60px;
    border-bottom: 1px solid rgb(51, 51, 51);
}
.b5t1_grid{
	border-bottom: 1px solid rgb(244, 244, 244);
}
.b5t1{
	display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 20px 0px;
}
.b5t1_1{
	display: inline-block;
    width: 160px;
    margin-right: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: rgb(51, 51, 51);
    letter-spacing: -0.32px;
    vertical-align: top;
}
.b5t1_2{
	flex: 1 1 0%;
}
.b5t1_2_1{
	display: inline-block;
    height: 22px;
    padding: 0px 8px;
    margin-bottom: 8px;
    border-radius: 11px;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    color: rgb(102, 102, 102);
    background-color: rgb(247, 247, 247);
    vertical-align: top;
}
.b5t1_2_2{
	display: block;
    font-size: 14px;
    line-height: 24px;
    color: rgb(51, 51, 51);
}
.box_6{
	display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-bottom: 100px;
}
.box_6_grid_1{
	width: 1050px;
}
.b6t1{
	display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 60px;
    border-bottom: 1px solid rgb(51, 51, 51);
}
.b6t1_pay{
    padding: 16px 0px;
    font-weight: 500;
    font-size: 20px;
    color: rgb(51, 51, 51);
    line-height: 29px;
}
.b6t2{
	display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 20px 0px;
}
.b6t2_pay{
	display: inline-block;
    width: 160px;
    margin-right: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 44px;
    color: rgb(51, 51, 51);
    letter-spacing: -0.32px;
    vertical-align: top;
}
.b6t2_1{
	    flex: 1 1 0%;
}
.b6t2_2{
	    width: 414px;
}
.b6t2_3{
	display: flex;
}
.kakao_button{
	position: relative;
    width: 100%;
    height: 48px;
    border: 1px solid rgb(226, 226, 226);
    font-size: 14px;
    font-weight: 500;
    border-radius: 3px;
}
.b6t3{
	width: 284px;
    position: sticky;
    top: 60px;
}
.b6t3_pay{
	    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}
.b6t3_pay_1{
	padding: 16px 0px;
    font-weight: 500;
    font-size: 20px;
    color: rgb(51, 51, 51);
    line-height: 29px;
}
.box_7{
	text-align: center;
}
.box_7_button{
	display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 240px;
    height: 56px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: rgb(95, 0, 128);
    border: 0px none;
    margin: 40px auto 30px;
    font-weight: 500;
}
.b7t1{
	display: inline-block;
    font-size: 16px;
    font-weight: 500;
}


.popup-wrap{
  background-color:rgba(0,0,0,.3);
  justify-content:center;
  align-items:center;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display:none;
  padding:15px;
}

.popup{
  width:100%;
  max-width:400px;
  background-color:#ffffff;
  border-radius:10px;
  overflow:hidden;
  background-color:rgb(95, 0, 128);
  box-shadow: 5px 10px 10px 1px rgba(0,0,0,.3);
}
.popup-head{
  width:100%;
  height:50px;
  display:flex;
  align-items:center;
  justify-content:center;
  
}
.head-title {
    font-size: 38px;
    font-style: italic;
    font-weight: 700;
    letter-spacing: -3px;
    text-align: center;
    color:white;
}
.popup-body{
  width:100%;
  background-color:#ffffff;
}
.body-content{
  width:100%;
  padding:30px;
}
.body-titlebox{
  text-align:center;
  width:100%;
  height:40px;
  margin-bottom:10px;
}
.body-contentbox{
  word-break:break-word;
  overflow-y:auto;
  min-height:100px;
  max-height:200px;
  text-align:center;
}
.popup-foot{
  width:100%;
  height:50px;
}
.pop-btn{
  display:inline-flex;
  width:50%;
  height:100%;
  float:left;
  justify-content:center;
  align-items:center;
  color:#ffffff;
  cursor:pointer;
}
.pop-btn.confirm{
  border-right:1px solid #3b5fbf;
}

