@charset "EUC-KR";
*{
	margin: 0 auto;
}
#container{
	width:1050px;
	margin:0 auto;
	height:100%;
}
#orderlist_exist{
	width:1050px;
	margin:0 auto;
}
.box_2{
	width:1050px;
	display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    padding: 25px 0px;
    border-bottom: 1px solid rgb(244, 244, 244);
}

